<a href="https://colab.research.google.com/github/timcsmith/MIS536-Public/blob/master/Notebooks/Assignment05_dtree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment05 - Predicting Delayed Flights.

The file FlightDelays.csv contains information on all commercial flights departing the Washington, DC area and arriving at New York during January 2004. For each flight, there is information on the departure and arrival airports, the distance of the route, the scheduled time and date of the flight, and so on. The variable that we are trying to predict is whether or not a flight is delayed. A delay is defined as an arrival that is at least 15 minutes later than scheduled.

Data Preprocessing. Transform variable day of week (DAY_WEEK) info a categorical variable. Bin the scheduled departure time into eight bins. Use these and all other columns as predictors (excluding DAY_OF_MONTH). Partition the data into training (60%) and validation (40%) sets.

# Preliminary Data Cleaning (Done For You)

In [92]:
# !pip install dmba # run once, when you start your work on this notebook

In [93]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

import matplotlib.pylab as plt
from dmba import plotDecisionTree, gainsChart, liftChart
from dmba import classificationSummary

In [94]:
delays_df = pd.read_csv('https://raw.githubusercontent.com/timcsmith/MIS536-Public/master/Data/FlightDelays.csv')
delays_df.head()

   CRS_DEP_TIME CARRIER  DEP_TIME  ... DAY_OF_MONTH  TAIL_NUM Flight Status
0          1455      OH      1455  ...            1    N940CA        ontime
1          1640      DH      1640  ...            1    N405FJ        ontime
2          1245      DH      1245  ...            1    N695BR        ontime
3          1715      DH      1709  ...            1    N662BR        ontime
4          1039      DH      1035  ...            1    N698BR        ontime

[5 rows x 13 columns]

In [95]:
# convert variable DAY_WEEK to categorical data type
delays_df['DAY_WEEK'].astype('category')

0       4
1       4
2       4
3       4
4       4
       ..
2196    6
2197    6
2198    6
2199    6
2200    6
Name: DAY_WEEK, Length: 2201, dtype: category
Categories (7, int64): [1, 2, 3, 4, 5, 6, 7]

In [96]:
# bin CRS_DEP_TIME variable into 8 bins
delays_df['binned_CRS_DEP_TIME'] = pd.cut(delays_df.CRS_DEP_TIME, 8, labels=False)
delays_df['binned_CRS_DEP_TIME'].astype('category')

0       4
1       5
2       3
3       5
4       2
       ..
2196    0
2197    5
2198    5
2199    3
2200    5
Name: binned_CRS_DEP_TIME, Length: 2201, dtype: category
Categories (8, int64): [0, 1, 2, 3, 4, 5, 6, 7]

In [97]:
# remove DAY_OF_MONTH variable
predictors_df = delays_df
columns = list(delays_df.columns)
columns.remove('DAY_OF_MONTH')
predictors_df = predictors_df[columns]

In [98]:
# select only those variables which can be used for predicting the outcome.
# create a new dataframe with predictors
columns = list(predictors_df.columns)
columns

columns.remove('CRS_DEP_TIME')
columns.remove('DEP_TIME')
columns.remove('FL_DATE')
columns.remove('FL_NUM')
columns.remove('TAIL_NUM')
columns.remove('Flight Status')
predictors_df = predictors_df[columns]
predictors_df.columns

predictors_df.head()

  CARRIER DEST  DISTANCE ORIGIN  Weather  DAY_WEEK  binned_CRS_DEP_TIME
0      OH  JFK       184    BWI        0         4                    4
1      DH  JFK       213    DCA        0         4                    5
2      DH  LGA       229    IAD        0         4                    3
3      DH  LGA       229    IAD        0         4                    5
4      DH  LGA       229    IAD        0         4                    2

In [99]:
# create dummies for categorical variables
predictors_df = pd.get_dummies(predictors_df, prefix_sep='_')
predictors_df.columns

Index(['DISTANCE', 'Weather', 'DAY_WEEK', 'binned_CRS_DEP_TIME', 'CARRIER_CO',
       'CARRIER_DH', 'CARRIER_DL', 'CARRIER_MQ', 'CARRIER_OH', 'CARRIER_RU',
       'CARRIER_UA', 'CARRIER_US', 'DEST_EWR', 'DEST_JFK', 'DEST_LGA',
       'ORIGIN_BWI', 'ORIGIN_DCA', 'ORIGIN_IAD'],
      dtype='object')

In [100]:
# partition the data into training (70%) and validation (30%) sets. set random_state=1 for the reproducibility of results
X = predictors_df
y = delays_df['Flight Status']

train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size=0.4, random_state=1)
train_X.head()

      DISTANCE  Weather  DAY_WEEK  ...  ORIGIN_BWI  ORIGIN_DCA  ORIGIN_IAD
1215       229        0         7  ...           0           0           1
1476       214        0         3  ...           0           1           0
1897       214        0         2  ...           0           1           0
83         214        0         5  ...           0           1           0
1172       213        0         6  ...           0           1           0

[5 rows x 18 columns]

# Part1 (20pts): 

Develop a classification tree model to 

Fit a classification tree to determine the flight status of a flight using all the relevant predictors. NOTE: Do not include binned_CRS_DEP_TIME (actual departure time) in the model because it is unknown at the time of prediction (unless we generate our predictions of delays after the plane takes off, which is unlikely). 

1. For demonstration/exploration purposes, fit and display a full decision tree model.

2. Use GridSearchCV method to determine the best decision tree parameters (based on your choice of performance measure(s))

3. Demonstrate how the model performs on validation data.

4. Display the chose decision tree model.

# Part2 (15pts):

From your analysis in question 1, you may find that the weather dominates the model. Since the weather is a rather evident influence, please remove it from your predictors and rerun your analysis from question 1.

# Part3 (5 pts)

Discuss your findings. Based on this, discuss your recommended model (note any qualifiers on your statement - that is, indicate assumptions made and any clarifications that would help the quality of this decision).