<a href="https://colab.research.google.com/github/timcsmith/MIS536-Private/blob/master/Notebooks/class09_example1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.preprocessing import LabelEncoder

In [ ]:
logit_df = pd.read_csv("https://raw.githubusercontent.com/timcsmith/MIS536-Public/master/Data/logit.csv")
logit_df

       X      Y
0    0.5   Blue
1    1.1   Blue
2    1.5   Blue
3    2.0   Blue
4    3.3   Blue
5    4.7   Blue
6    5.3   Blue
7    7.0   Blue
8    6.5   Blue
9    7.5   Blue
10   8.0  Green
11   8.3   Blue
12   8.7   Blue
13   9.1   Blue
14   8.5  Green
15   9.5  Green
16  10.1  Green
17  12.0  Green
18  12.7  Green
19  14.0  Green
20  15.3  Green
21  16.1  Green
22  17.8  Green

In [ ]:
encoder = LabelEncoder()
encoder.fit(logit_df.Y)
logit_df['Y'] = 1- encoder.transform(logit_df['Y'])

In [ ]:
X = logit_df[['X']]
X

       X
0    0.5
1    1.1
2    1.5
3    2.0
4    3.3
5    4.7
6    5.3
7    7.0
8    6.5
9    7.5
10   8.0
11   8.3
12   8.7
13   9.1
14   8.5
15   9.5
16  10.1
17  12.0
18  12.7
19  14.0
20  15.3
21  16.1
22  17.8

In [ ]:
y = logit_df[['Y']]
y

    Y
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   1
8   1
9   1
10  0
11  1
12  1
13  1
14  0
15  0
16  0
17  0
18  0
19  0
20  0
21  0
22  0

In [ ]:
train_X, valid_X, train_y, valid_y = train_test_split(logit_df.X,logit_df.Y, test_size=.3, random_state=1)

In [ ]:
train_X=pd.DataFrame(train_X)
valid_X=pd.DataFrame(valid_X)

In [ ]:
logClassifier = LogisticRegression(random_state=1)
logClassifier.fit(train_X,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
logClassifier.predict([[1],[5], [7], [9], [11], [20]])

array([1, 1, 1, 1, 0, 0])

In [ ]:
logClassifier.predict_proba([[1],[5], [7], [9], [11], [20]])

array([[2.23909819e-04, 9.99776090e-01],
       [1.40946108e-02, 9.85905389e-01],
       [1.02511051e-01, 8.97488949e-01],
       [4.77142814e-01, 5.22857186e-01],
       [8.79387760e-01, 1.20612240e-01],
       [9.99988092e-01, 1.19082794e-05]])

In [ ]:
validation_predictions = logClassifier.predict(valid_X)

In [ ]:
pd.DataFrame({"predicted":validation_predictions, "actual":valid_y})

    predicted  actual
20          0       0
17          0       0
3           1       1
13          0       1
19          0       0
16          0       0
10          1       0

In [ ]:

print(confusion_matrix(valid_y, validation_predictions))
print(accuracy_score(valid_y, validation_predictions))
print(precision_score(valid_y, validation_predictions))
print(recall_score(valid_y, validation_predictions))

[[4 1]
 [1 1]]
0.7142857142857143
0.5
0.5